<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" type="text/css" href="user-login.component.css">
</head>
<body>
  <h1>Login</h1>
  <form action="submit-form.php" method="post">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Login</button>
    <p><a href="/userSignup">Go back to SignUp ?</a></p>

  </form>
</body>
</html>
